*,
*::before,
*::after {
    box-sizing: border-box;
}

html,
body {
    padding: 0;
    margin: 0;
}

body {
    font-family: "Open Sans","YuGothic_Family","YuGothic","Hiragino Kaku Gothic ProN","Meiryo",sans-serif;
    font-size: 16px;
    line-height: 1.8;
    background-color: #fff;
    color: #222;
}

img {
    max-width: 100%;
    height: auto;
}

ul,
ol {
    list-style: none;
    padding: 0;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    padding: 0;
    margin: 0;
}

a {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}

/* 共通項目 */
/* inner */
.inner {
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
}

.inner-s {
    max-width: 980px;
    width: 100%;
    margin: 0 auto;
}

.inner-topics {
    padding: 48px 0;
}

.inner-info {
    padding: 64px 0 56px;
}

.inner-notice {
    width: 90%;
}

.footer-inner {
    width: 90%;
    margin: 0 auto;
}


/* ヒーロー画像 タイトル span */
.square {
    display: inline-block;
    padding: 2px 5px;
    border-radius: 6px;
    line-height: 1;
}

.square-fff {
    border: 1px solid #fff;
}

.square-000 {
    border: 1px solid #000;
}

.square-fz {
    font-size: 36px;
}

/* popular-list　タイトル span */
.p-square {
    font-size: 16px;
    padding: 0.1em 0.2em;
}

/* header */
.header {
    position: fixed;
    width: 100%;
    top: 0;
    background-color: rgba(0,0,0,.8);
    box-shadow: 0 8px 17px 0 rgba(0,0,0,.2), 0 6px 20px 0 rgba(0,0,0,.19);
    z-index: 1000;
    transform: translate3d(0, 0, 0);
    transition: all 0.3s ease;
}

/*　上に上がる動き　*/
.header.hidden{
    transform: translate3d(0, -100%, 0);

  }

.header-flex {
    width: 100%;
    height: 56px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 19px;
}

@media screen and (min-width:641px) {
    .header-flex {
        height: 100px;
        padding: 0;
        justify-content: left;
        background-color: #202020;
    }
}

/* ロゴ */
.header-logo {
    /* flex 順番入れ替え */
    order: 2;
}

.header-logo a {
    display: block;
}

.header-logo img{
    width: 113px;
    height: 23px;
}

/* ドロワーメニュー */
.header-sp {
    /* flex 順番入れ替え */
    order: 1;
}

.drawer-icon {
    display: block;
    position: relative;
    z-index: 1001;
}

.drawer-icon-bar1,
.drawer-icon-bar2,
.drawer-icon-bar3 {
    position: absolute;
    width: 18px;
    height: 1px;
    background-color: #fff;
    border-radius: 1px;
    top: 0;
    left: 0;
}

.drawer-icon-bar1 {
    top: -6px;
}

.drawer-icon-bar2 {
    top: 0px;
}

.drawer-icon-bar3 {
    top: 6px;
}

/* drawer-nav オープン アイコンがバツに変わる */
.drawer-icon.open .drawer-icon-bar1 {
    top: 0;
    transform: rotate(45deg);
}

.drawer-icon.open .drawer-icon-bar2 {
    display: none;
}

.drawer-icon.open .drawer-icon-bar3 {
    top: 0;
    transform: rotate(-45deg);
}

.drawer-nav {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 56px;
    left: 0;
    transition: all 0.3s ease;
    z-index: 100;

    /* drawer-nav 非表示 */
    transform: translateX(-100%);
}

/* drawer-nav 表示 */
.drawer-nav.open {
    transform: translateX(0);
}

.drawer-list {
    padding-left: 30px;
    border-bottom: 1px solid #efefef;
}

.drawer-list a {
    display: block;
    line-height: 65px;
    color: #666;
    position: relative;
}

.drawer-list a::after {
    position: absolute;
    content: "";
    border-top: 1px solid #666;
	border-right: 1px solid #666;
    width: 12px;
    height: 12px;
    top: 50%;
    right: 20px;
    transform: translateY(-50%) rotate(45deg);;
}

.drawer-list i {
    margin-right: 8px;
}

.drawer-background {
    position: fixed;
    background-color: #fff;
    width: 100%;
    height: 100vh;
    top: 56px;
    left: 0;
    transition: all 0.3s ease;
    transform: translateX(-100%);
}

/* drawer-background 表示 */
.drawer-background.open {
    transform: translateX(0);
}


/* sp カート */
.header-sp-cart {
    order: 3;
}

.header-sp-cart i {
    width: 16px;
    height: 16px;
    color: #fff;
}

/* sp時 header-pc 非表示 */
.header-pc {
    display: none;
}

/* sp時 tec-logo 非表示 */
.header-tec-logo {
    display: none;
}

/* pc */
@media screen and (min-width:641px) {
    /* ロゴ */
    .header-logo {
        width: 265px;
        text-align: center;
        order: 1;
    }
    /* メニュー */
    .header-pc {
        display: block;
        order: 2;
    }

    .header-menu {
        display: flex;
        font-size: 0.9rem;

    }

    .header-list {
        margin-right: 0;
        line-height: 100px;
    }

    .header-list:not(:first-child) {
        margin-left: 48px;
    }

    .header-list a {
        font-size: 1em;
        letter-spacing: 0.05em;
        font-weight: 700;
        color: #ccc;
        position: relative;
    }

    .header-list:nth-child(5) a {
        font-size: 14px;
    }

    .header-list a:hover {
        color: #fff;
    }

    .header-list a:hover::after {
        content: "";
        position: absolute;
        bottom: -10px;
        left: 50%;
        width: 3rem;
        height: 3px;
        margin-left: -1.5rem;
        background-color: #fff;
    }

    /* ShoppingCart dropdown*/
    .dropdown-is-open {
        height: inherit; /* headerの高さ継承 */
        position: relative;
    }

    .dropdown-menu {
        visibility: hidden; /* デフォルトでは非表示の状態にしておく */
        opacity: 0; /* 不透明度0 */
        transition: all .3s; /* 表示の変化を0.3秒に指定 */
        position: absolute;
        width: 270px;
        top: 100px;
        left: 0;
        transform: translateX(-100px);
        background-color: #3a3a3a;
        box-shadow: 0 19px 38px rgba(0,0,0,.3), 0 15px 12px rgba(0,0,0,.22);
    }

    .dropdown-is-open:hover .dropdown-menu {
        visibility: visible; /* ホバーしたら表示 */
        opacity: 1; /* 不透明度1 */
    }

    .dropdown-list {
        padding-left: 45px;
    }

    .dropdown-list a {
        font-size: 14px;
        line-height: 76px;
        font-weight: 200;
    }

    .dropdown-list a:hover {
        color: #4ba53a;
    }

    .fa-lg {
        margin-right: 10px;
    }

    .dropdown-list a:hover::after {
        position: static;
    }


    /* pc時 header-sp 非表示 */
    .header-sp {
        display: none;
    }

    /* pc時 カート 非表示 */
    .header-sp-cart {
        display: none;
    }
}

/* hero */
.hero {
    margin-top: 56px;
    position: relative;
}

@media screen and (min-width:641px) {
    .hero {
        margin-top: 100px;
    }
}

.swiper {
    width: 100%;
    position: relative;
    overflow: hidden;
}

@media screen and (min-width:641px) {
    .swiper {
        width: 100%;
        height: 100vh;
    }
}


.swiper-wrapper {

}

.swiper-slide img {
    width: 100%;
    height: 819px;
    object-fit: cover;
}

.hero-slide {
    text-align: center;
}

/* ヒーロー画像 テキスト */
.hero-text {
    position: absolute;
    content: "";
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
}

/* ヒーロー画像 タグ 四角 */
.hero-tag {
    display: inline-block;
    font-size: 24px;
    padding: 5px 40px;
    white-space: nowrap;
}

.tag-fff {
    color: #fff;
    border: 1px solid #fff;
}

.tag-000 {
    color: #000;
    border: 1px solid #000;
}

/* ヒーロー画像 タイトル  */
.hero-title {
    width: 100%;
    font-weight: 700;
    letter-spacing: 2px;
    margin: 0;
}

.hero-title-fff {
    color: #fff;
}

.hero-title-000 {
    color: #000;
}

/* ヒーロー画像 1枚目のテキスト */
.hero-title1 {
    font-size: 70px;
}

/* ヒーロー画像 2枚目のテキスト */
.hero-title2 {
    font-size: 46px;
    white-space: nowrap;
}

/* ヒーロー画像 3枚目のテキスト */
.hero-title3 {
    font-size: 40px;
    white-space: nowrap;
}

/* ヒーロー画像 4枚目のテキスト */
.hero-title4 {
    font-size: 50px;
    white-space: nowrap;
}

/* ヒーロー画像 5枚目のテキスト */
.hero-title5 {
    font-size: 50px;
    white-space: nowrap;
}

/* ヒーロー画像 6枚目のテキスト */
.hero-title6 {
    font-size: 50px;
    white-space: nowrap;
}

/* ヒーロー画像 ボタン */
.hero-btn {
    position: absolute;
    content: "";
    left: 50%;
    transform: translateX(-50%);
    width: 150px;
    padding: 8px 0;
    margin: 0 auto;
    color: #000;
    background-color: rgba(255,255,255,.7);
    border-radius: 200px;
}

.hero-btn-bg {
    position: absolute;
    content: "";
    left: 50%;
    transform: translateX(-50%);
    width: 150px;
    padding: 8px 0;
    margin: 0 auto;
    color: #fff;
    background-color: rgba(23,18,18,.5);
    border-radius: 200px;
}



@media screen and (min-width:641px) {
    .hero-btn {
        width: 130px;
        transition: all 0.2s ease;
    }

    .hero-btn:hover {
        width: 145px;
    }
}

.btn-bottom {
    bottom: 8%;
}

.btn-top {
    top: 25%;
}

.swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
    position: absolute;
    content: "";
    bottom: -5%;
    left: 0;
    padding-top: 10px;
}

.swiper-pagination-bullet {
    width: 12px;
    height: 12px;
}

.swiper-pagination-bullet-active {
    background-color: #000;
}


/* popular-products */
.popular-products {
    padding: 88px 0 50px;
    overflow: hidden;
}

h2 {
    font-size: 32px;
    font-weight: 400;
    text-align: center;
    color: #333;
}

.popular-container {
    overflow-x: scroll;
}

.popular-menu {
    width: 1200px;
    display: flex;
    justify-content: space-around;
    padding: 20px 0;
}

.popular-list {
    width: 20%;
    text-align: center;
    padding: 20px 10px;
}

.popular-list img {
    width: 100%;
    vertical-align: bottom;
}

.p-product-name {
    font-weight: 700;
    margin: 0;
}

.p-product-name-ja {
    font-size: 0.9rem;
    color: #999999;
    margin: 0;
}

.more-btn {
    text-align: center;
}
.more-btn a {
    padding-bottom: 7.5px;
    font-size: 0.9rem;
    color: #999999;
    position: relative;
}

.more-btn a::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 1px;
    top: 100%;
    left: 0;
    background-color: #999999;
    transition: all 0.3s ease;
    opacity: 1;
}

.more-btn a:hover:after {
    opacity: 0;
}

/* topics */
/* news */
/* about */
.topics {
    border: 1px solid #ddd;
}

.topics-lists {
    width: 85%;
    margin: 0 auto;
}

.topics-card {
    text-align: center;
}

.topics-card:not(:first-child) {
    margin-top: 48px;
}

.topics-card img {
    aspect-ratio: 307 / 130;
    object-fit: cover;
}

.topics-title {

}

.topics-desc {
    font-size: 12.8px;
    color: #999999;
    padding: 0 26px;
}

/* info */
.info {

}

.inner-s {

}

.info-container {
    text-align: center;
}

.info-sns {

}

.info-title {
    color: #333;
    line-height: 2;
}

.info-desc {
    margin-top: 11px;
    font-size: 0.8rem;
    color: #9a9a9a;
}

.sns-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    margin-top: 11px;
}

.sns-list i {
    font-size: 28px;
}

.sns-list img {
    width: 72px;
    height: 72px;
}

.info-mail {
    margin-top: 26px;
}

.info-title-icon i {
    font-size: 24px;
    margin-right: 11px;
}

.info-btn {
    display: inline-block;
    width: 140px;
    height: 32px;
    border: 1px solid #666;
    border-radius: 16px;
    font-size: 16px;
    line-height: 32px;
    text-align: center;
    color: #666;
    margin-top: 11px;
}

.info-register {
    margin-top: 56px;
}

/* notice */
.notice {
    padding: 32px 0;
    background-color: #e5e5e5;
}

.inner-s {

}

.notice-title {
    font-size: 0.9em;
    color: #333;
    border-bottom: 1px solid #898787;
    padding-bottom: 8px;
}

.notice-container {

}

.notice-list {
    padding-left: 22px;
    margin-top: 18px;
    font-size: 12.8px;
    color: #333;
    position: relative;
}

.notice-list a::before {
    position: absolute;
    content: "";
    top: 6px;
    left: 0;
    font: var(--fa-font-solid);
    content: "\f138";
    color: #666;
}

.notice-list:not(:first-child) {
    margin-top: 16px;
}

/* all-product */
.all-product {
    background-color: #404040;
    padding: 32px 0;
}

.all-product-container {
    width: 90%;
    margin: 0 auto;
    color: #ccc;

}

.all-product-main-title {
    font-size: 20px;
    padding-bottom: 14px;
    border-bottom: 1px solid #666;
}

.all-p-bb {
    border-bottom: 1px solid #666;
}

.all-product-title {
    font-size: 17.6px;
    padding-left: 55px;
}

.all-product-sp-title {
    display: block;
}

/* アコーディオンメニュー */
.accordion-menu {
    display: none;
}

.accordion-title {
    padding: 24px 0 8px 55px;
    cursor: pointer;
    position: relative;
}


.icon-plus::before,
.icon-plus::after {
    position: absolute;
    content: "";
    width: 17px;
    height: 1px;
    top: 50%;
    right: 4px;
    background-color: #ccc;
}

.icon-plus::after {
    transform: rotate(90deg);
    transition: transform .2s ease 0s;
}

.icon-plus.active::after {
    transform: rotate(0deg);
}

.accordion-title-ja {
    font-size: 11.2px;
    padding-left: 15px;
    color: #cbcbcb;
}

.icon-arrow {
    position: relative;
}

.icon-arrow::after {
    position: absolute;
    content: "";
    width: 10px;
    height: 10px;
    top: 50%;
    right: 10px;
    border-top: solid 1.5px #ccc;
    border-right: solid 1.5px #ccc;
    transform: rotate(45deg);
}

.icon-square {
    position: relative;
}

.icon-square::after {
    position: absolute;
    content: "";
    width: 15px;
    height: 15px;
    top: 50%;
    right: 8px;
    border: 1px solid #ccc;
    transform: translateY(25%);
}

.icon-square::before {
    position: absolute;
    content: "";
    width: 7px;
    height: 7px;
    bottom: 25%;
    right: 20px;
    border-bottom: 1px solid #ccc;
    border-left: 1px solid #ccc;
    transform: translateY(2px);
    z-index: 3;
}

.all-product-sp-phone {
    margin-top: 24px;
    padding: 16px 0 16px 55px;
    background-color: #3b3b3b;
}

/* アコーディオンメニュー 中身 */
.product-name {
    font-size: 14.4px;
}

.product-name-ja {
    font-size: 11.2px;
    color: #999;
}

.accordion-list {
    padding: 24px 0 0 80px;
}

.accordion-list:last-child {
    margin-bottom: 24px;
}

.new {
    display: inline-block;
    width: 32px;
    font-size: 8px;
    color: #333;
    background-color: #ccc;
    border-radius: 15px;
    text-align: center;
    padding: 1px 0;
    line-height: 8px;
    margin: 0 0 1px 8px;
}
/* SP表示 */


/* PC表示 */
.all-product-pc {
    display: none;
}

/* footer */
.footer {
    background-color: #333;
    color: #a5a5a5;
    padding: 42px 0 12px;
}

.f-menu-container {

}

.f-menu-title {
    border-bottom: 1px solid #666;
    padding-bottom: 8px;
    margin-top: 32px;
}

.f-news-title {
    font-size: 20px;
}

.f-flex-left {
}

.f-topics-menu {

}

.f-topics-list {
    margin-top: 14px;
}

.f-topics-list a {
    font-size: 14px;
}

.f-flex-right {

}

.f-product {
    margin-top: 52px;
}

.f-menu-title {
}


.f-menu {

}

.f-menu-list:first-child {
    margin-top: 10px;
}

.f-menu-list {
    font-size: 12.8px;
    color: #ccc;
}

.f-topics {

}

.f-stores {

}

.f-suport {

}

.f-online-store {

}

.f-countries {

}

.footer-container {
    margin-top: 52px;
}

.f-sns {
    display: flex;
    justify-content: center;
}

.f-sns-list i {
    color: #fff;
    font-size: 30px;
    margin: 0 10px;
}

.f-logo {
    margin-top: 23px;
    text-align: center;
}

.f-logo img {
    width: 135px;
    height: 28px;
}

.f-link-container {
    margin-top: 40px;
}

.f-link-menu {

}

.f-link-list a {
    display: block;
    font-size: 10px;
    line-height: 18px;
    color: #999;
}

.copyright {
    display: block;
    margin-top: 28px;
    font-size: 10px;
    text-align: center;
}

/* information */
.information {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 15px 0;
    background-color: #fff;
}

.information i {
    font-size: 20px;
    color: #039be5;
}

.information-desc {
    color: #333;
    font-size: 12px;
    text-align: center;
}

.information-btn {
    width: 72px;
    height: 29.5px;
    background-color: #039be5;
    border-radius: 10px;
    line-height: 30px;
    font-size: 12px;
    text-align: center;
    color: #fff;
}

